*{
    margin: 0;
}

ul{padding: 0;}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 480px;
    align-items: center;
}

body{
    margin: 40px 0 0 0 ;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hamburger{
    background: url("../img/hamberger.png") no-repeat;
    background-size: contain;
    padding: 0;
    width: 35px;
    height: 35px;
    border-style: none;
    cursor: pointer;

}
.basket{
    display: flex;
}

.basketPlus{
    display: block;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: red;
    top: 2px;
    left: 15px;
}

input.basket-button {
    background: url("/img/basket.png") no-repeat;
    background-size: cover;
    padding: 0;
    width: 50px;
    height: 50px;
    border-style: none;
    cursor: pointer;
}

.locationContainer{

    width: 480px;
}

.locationBox {
    padding: 10px;

}
.locationText{
    color: #0DA2AB;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
}

.myLocation{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.myLocationButton{
    width: 45px;
    height: 45px;
    padding: 30px;
    background: url("../img/locaPick.png") no-repeat center;
    border-style: none;
    object-fit: cover;
    cursor: pointer;


}


.myLocationText{
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: 800;
    margin: 0 10px 0;

}


.mainOutLine{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    border-color: #f1f1f1;
}

.menuCategory{
    width: 100%;
    height: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #949494;
    box-shadow: 5px 5px 5px #f1f1f1;



}

.menuCategory ul {
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
    padding: 20px 10px 0 10px;


}

.menuCategory ul li {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.listUnderLine{
    padding: 0;

}

.listUnderLine li::after {
    position: absolute;
    content:"";
    display: block;
    border-bottom: 8px solid #CF68FF;
    transition: all 250ms ease-out;
    left: 50%;
    width: 0;}

.listUnderLine li:hover::after {
    transition: all 250ms ease-out;
    left: 0;
    width: 100%;

}

a{
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
}


li{
    list-style-type: none;
    text-decoration: none;
    color: black;
    vertical-align : bottom;

}

.storeBox{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #f1f1f1;
}

.storeImg{
    width: 70px;
    height: 70px;
    background-color: #949494;
    border-color: #949494;
    border-radius: 5px;
    border-width: 1px;
    margin: 15px 15px 15px 20px;
    object-fit: cover;


}

.storeImg>img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;



}



.storeBox ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: space-between;

}

.storeBox ul li {
    margin: 0 5px 0 5px;

}

.storeBox ul li:nth-child(1){
    width: 70%;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
}

.storeBox ul li:nth-child(2){
    width: 30%;
    display: flex;
    align-items: center;

}


.storeBoxText{
    width: 340px;
    display: flex;
    align-items: center;
    padding: 10px;



}
.storeName>a{
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.storeCategory{
    color: #0DA2AB;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.mainContainer{
    display: flex;
    justify-content: center;
}

footer{
    width: 100%;
    height: 70px;
    background: #0DA2AB;
    position : fixed;
    bottom : 0;


}

.footerText{
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

@media (max-width: 480px) {
    .locationContainer{
        width: 98%;
        height: auto;
    }
    nav{
        width: 90%;
    }
}

@media (max-width: 360px) {

    .locationContainerx{
        width: 98%;
        height: auto;
    }

    .storeBoxText{
        width: 220px;
    }
    nav{
        width: 90%;
    }



}