*{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    margin: 40px 0 0 0 ;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 480px;
    align-items: center;
}

.back{

    background: url("../img/back.png") no-repeat;
    width: 55px;
    height: 55px;
    border-style: none;
    cursor: pointer;
}

.home{

    width: 55px;
    height: 55px;
    border-style: none;
    cursor: pointer;
    background: url("../img/homeWeb.png") no-repeat center;
}

.locationContainer{
    display: flex;
    justify-content: center;
    width: 480px;
    height: auto;
}

.locationBox {
    padding: 10px;
    width: 100%;

}
.locationText{
    color: #0DA2AB;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
}

.myLocation{
    display: flex;
    flex-direction: row;
}

.myLocationText{
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: 800;

}

.detailBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #f1f1f1;

}

.menuCategory {
    width: 100%;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #949494;
    box-shadow: 5px 5px 5px #f1f1f1;
    display: flex;
    justify-content: left;
    align-items: center;

}

.menuCategoryText{

    color: #0DA2AB;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 800;
    margin: 30px;

}

.orderDetailBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    background-color: #efefef;


}



.orderDetailSec{
    display: flex;
    flex-direction: row;
}

.orderImg{
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin: 15px;
    border-radius: 5px;
}

li{
    list-style-type: none;

}

ul {
    margin: 15px;
    padding: 0;
}

.couponSec{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.couponIcon{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.couponInput{
    width: 70%;
    border-radius: 5px;
    border-width: 1px;
    padding:5px;
}

.couponInsert{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border-color: #0DA2AB;
    border-width: 1px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
}

.payAmount{
    width: 100%;
    padding: 0;

}

.payAmount ul li {
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 30px;

}

.payAmount ul li:nth-child(3){
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: 800;
}

.payAmount ul li span:nth-child(2){
    display: inline-block;
    float: right;

}


.payButton{
    display: flex;
    justify-content: center;
}

.pay{
    width: 100%;
    display: block;
    color:#ffff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
    font-size: 32px;
    background-color: #0DA2AB;
    border-radius: 10px;
    border-style: none;
    padding: 15px 0 15px;
    cursor: pointer;


}




@media (max-width: 480px) {

    nav{
        width: 95%;
    }
    .locationContainer{
        width: 95%;
        height: auto;
    }



}
